extends layout

block content
  h1= title
  p Welcome to the bats pug
  div(class="container-fluid")
        div(class="row")
            -
                let bats = [
                    {
                        "brand": "Adidas",
                        "types": "English Willow",
                        "cost": "three hundred USD"
                    },
                    {
                        "brand": "Nike",
                        "types": "Kashmir willow",
                        "cost": "two hundred USD"
                    },
                    {
                        "brand": "SS",
                        "types": "willow",
                        "cost": "one hundred USD"
                    },                   
                ]
            each c,index in bats
                div(class="col-sm-2" onclick=`buy(${index})`) #{c.brand}
                div(class="col-sm-2" onclick=`buy(${index})`) #{c.types}
                div(class="col-sm-2" onclick=`buy(${index})`) #{c.cost}